@page "/CropPhaseOptimals"

@using Agrismart.Agronomic.UI.Services.Models;
@using Agrismart.Agronomic.UI.Pages.Components
@using Agrismart.Agronomic.UI.Services.Interfaces
@using Agrismart.Agronomic.UI.Services.Requests
@using Agrismart.Agronomic.UI.Services.Requests.Commands
@using Agrismart.Agronomic.UI.Services.Requests.Queries
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.ComponentModel.DataAnnotations
@attribute [Authorize]

@inject ICropPhaseOptimalService _cropPhaseOptimalService
@inject ICatalogService _catalogService

<PageTitle>Optimos de Fase de Cultivo</PageTitle>

<h2>Lista de Optimos de Fase de Cultivo</h2>
<hr />

<AlertMessage Title="Mensaje de sistema" @ref="@alertCreateMessage">
    <div class="alert alert-success">
        <p>Optimos de Fase de Cultivo creado con éxito</p>
    </div>
</AlertMessage>

<AlertMessage Title="Mensaje de sistema" @ref="@alertUpdateMessage">
    <div class="alert alert-success">
        <p>Optimos de Fase de Cultivo actualizado con éxito</p>
    </div>
</AlertMessage>

<AlertMessage Title="Error de sistema" @ref="@alertErrorMessage">
    <div class="alert alert-danger">
        <p><label>Hubo un error en la aplicación. Informe al administrador</label></p>
    </div>
</AlertMessage>


@if (!createNew)
{
    <div class="container-fluid">
        <div class="row align-items-end">
            <div class="col-2">
                <label>Catálogo:</label>
                <InputSelect id="catalogsList" @bind-Value="@selectedCatalogId" style="width: 100%" class="form-select form-select-sm">
                    <option value="0">Todos</option>
                    @foreach (var catalog in catalogs)
                    {
                        <option value="@catalog.Id">@catalog.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="col-2">
                <label class="form-check-label">Solo Activos</label>
                <input type="checkbox" id="onlyActivesCheck" checked @bind-value="@onlyActives" class="form-check-input" />
            </div>
            <div class="col-2">
                <button class="btn btn-primary" @onclick="GetCropPhaseOptimalsClick">Consultar</button>
            </div>
            <div class="col-2">
                <button class="btn btn-secondary" @onclick="NewCropPhaseOptimalClick">Nuevo</button>
            </div>
            <div class="col-2" />

        </div>
    </div>
}
else
{
    <EditForm EditContext="editContext">
        <DataAnnotationsValidator />
        <div class="container-fluid">
            <div class="row align-items-end">
                <div class="col-1">
                    <label>Catálogo:</label>
                    <InputSelect @bind-Value="@newCropPhaseOptimal.CatalogId" style="width: 100%" class="form-select form-select-sm">
                        <option value="0">Seleccione una opción</option>
                        @foreach (var catalog in catalogs)
                        {
                            <option value="@catalog.Id">@catalog.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-1">
                    <label>Nombre:</label>
                    <InputText @bind-Value="@newCropPhaseOptimal.Name" style="width: 100%" class="form-control form-control-sm" />
                </div>
                <div class="col-1">
                    <label>Descripción:</label>
                    <InputText @bind-Value="@newCropPhaseOptimal.Description" style="width: 100%" class="form-control form-control-sm" />
                </div>
                <div class="col-1">
                    <label>Valor:</label>
                    <InputNumber @bind-Value="@newCropPhaseOptimal.Value" style="width: 100%" class="form-control form-control-sm" />
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" @onclick="AddCropPhaseOptimalClick">Agregar</button>
                    <button class="btn btn-danger" @onclick="CancelAddCropPhaseOptimalClick">Cancelar</button>
                </div>
            </div>
            @if (!valid)
            {
                <div class="row p-3">
                    <div class="alert alert-warning col-8" role="alert">
                        Debe seleccionar o digitar algun valor para los atributos marcados en rojo
                    </div>
                </div>
            }
        </div>
    </EditForm>
}
<hr />

@if (cropPhaseOptimals == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else
{
    <QuickGrid Items="@cropPhaseOptimals" Pagination="@pagination">
        <TemplateColumn Title="Id" Class="tinyColumn">
            <label>@context.Id</label>
        </TemplateColumn>
        <TemplateColumn Title="Catalogo" Class="normalColumn">
            @if (context.Id == editableId)
            {
                <InputSelect id="catalogList" @bind-Value="@context.CatalogId" style="width: 100%">

                    @foreach (var catalog in catalogs)
                    {
                        <option value="@catalog.Id">@catalog.Name</option>
                    }
                </InputSelect>
            }
            else
            {
                <label>@context.Catalog</label>
            }
        </TemplateColumn>
        <TemplateColumn Title="Nombre" Class="normalColumn" Sortable="true">
            @if (context.Id == editableId)
            {
                <input @bind="@context.Name" />
            }
            else
            {
                <label>@context.Name</label>
            }
        </TemplateColumn>
        <TemplateColumn Class="normalColumn" Title="Descripción">
            @if (context.Id == editableId)
            {
                <input @bind="@context.Description" />
            }
            else
            {
                <label>@context.Description</label>
            }
        </TemplateColumn>
        <TemplateColumn Class="normalColumn" Title="Valor">
            @if (context.Id == editableId)
            {
                <input @bind="@context.Value" />
            }
            else
            {
                <label>@context.Value</label>
            }
        </TemplateColumn>
        <TemplateColumn Title="Activo" Class="normalColumn">
            @if (context.Id == editableId)
            {
                <input type="checkbox" @bind="@context.Active" />
            }
            else
            {
                @if (context.Active)
                {
                    <i class="bi bi-toggle-on" />
                }
                else
                {
                    <i class="bi bi-toggle-off" />
                }
            }
        </TemplateColumn>
        <TemplateColumn Title="Acciones" Class="normalColumn">
            @if (context.Id == editableId)
            {
                <button @onclick="@(() => SaveClick(@context))"><i class="bi bi-floppy-fill"></i></button>
                <button @onclick="@(() => CancelEditClick())"><i class="bi bi-x-circle-fill"></i></button>
            }
            else
            {
                <button @onclick="@(() => EditClick(@context.Id))"><i class="bi bi-pencil-square"></i></button>
            }
        </TemplateColumn>
    </QuickGrid>

    <Paginator State="@pagination" />
}

@code {

    #region Main

    public class CropPhaseOptimalModel
    {
        public int Id { get; set; }
        public int CatalogId { get; set; }
        public string? Catalog { get; set; }
        public string? Name { get; set; }
        public string? Description { get; set; }
        public double Value { get; set; }
        public bool Active { get; set; }
    }

    private AlertMessage? alertErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            editContext = new EditContext(newCropPhaseOptimal);

            var getAllCatalogsResult = await _catalogService.GetAll(new GetAllCatalogsRequest() { IncludeInactives = false });
            catalogs = getAllCatalogsResult.Catalogs.ToList();

            await GetCropPhaseOptimalsClick();
        }
        catch (Exception ex)
        {
        }
    }

    #endregion

    #region Search of CropPhaseOptimals

    private IQueryable<CropPhaseOptimalModel>? cropPhaseOptimals;
    public int selectedCatalogId = 0;
    public bool onlyActives = true;
    public List<Catalog> catalogs = new List<Catalog>();
    PaginationState pagination = new PaginationState() { ItemsPerPage = 20 };

    public async Task GetCropPhaseOptimalsClick()
    {
        cropPhaseOptimals = null;
        List<CropPhaseOptimalModel> cropPhaseOptimalsList = new List<CropPhaseOptimalModel>();
        try
        {

            var getAllCropPhaseOptimalsResult = await _cropPhaseOptimalService.GetAll(new GetAllCropPhaseOptimalsRequest() { CatalogId = selectedCatalogId, IncludeInactives = !onlyActives });

            if (getAllCropPhaseOptimalsResult.CropPhaseOptimals != null)
            {
                getAllCropPhaseOptimalsResult.CropPhaseOptimals.ToList().ForEach(cpo => cropPhaseOptimalsList.Add(new CropPhaseOptimalModel()
                    {
                        Id = cpo.Id,
                        CatalogId = cpo.CatalogId,
                        Catalog = catalogs.Where(cat => cat.Id == cpo.CatalogId).FirstOrDefault().Name,
                        Name = cpo.Name,
                        Description = cpo.Description,                       
                        Value = cpo.Value,
                        Active = cpo.Active
                    }));

                cropPhaseOptimals = cropPhaseOptimalsList.AsQueryable();
            }
        }
        catch (Exception ex)
        {
            alertErrorMessage.Open();
            cropPhaseOptimals = cropPhaseOptimalsList.AsQueryable();
        }
    }

    #endregion

    #region New CropPhaseOptimal

    public EditContext? editContext;
    public CropPhaseOptimalModel newCropPhaseOptimal = new CropPhaseOptimalModel();
    public bool createNew = false;
    public int newCatalogId = 0;
    bool valid = true;
    private AlertMessage alertCreateMessage { get; set; }

    public async Task NewCropPhaseOptimalClick()
    {
        createNew = true;
        valid = true;
        ClearNewModel();
    }

    public async Task CancelAddCropPhaseOptimalClick()
    {
        createNew = false;
        valid = true;
    }

    public async Task AddCropPhaseOptimalClick()
    {
        try
        {
            valid = editContext.Validate();
            if (valid)
            {
                var createCropPhaseOptimalResult = await _cropPhaseOptimalService.Create(new CreateCropPhaseOptimalRequest()
                    {
                        CatalogId = newCropPhaseOptimal.CatalogId,
                        Name = newCropPhaseOptimal.Name,
                        Description = newCropPhaseOptimal.Description,
                        Value = newCropPhaseOptimal.Value                        
                    });
                if (createCropPhaseOptimalResult != null)
                {
                    alertCreateMessage.Open();
                    await GetCropPhaseOptimalsClick();
                }
                else
                {
                    alertErrorMessage.Open();
                }
                CancelAddCropPhaseOptimalClick();
            }
        }
        catch (Exception ex)
        {
        }
    }

    private void ClearNewModel()
    {
        newCropPhaseOptimal.CatalogId = 0;
        newCropPhaseOptimal.Name = string.Empty;
        newCropPhaseOptimal.Description = string.Empty;
        newCropPhaseOptimal.Value = 0;
    }

    #endregion

    #region Edit CropPhaseOptima

    public int editableId = 0;
    private AlertMessage alertUpdateMessage { get; set; }

    void EditClick(int id) => editableId = id;

    void CancelEditClick() => editableId = 0;

    private async Task SaveClick(CropPhaseOptimalModel cropPhaseOptimalToSave)
    {
        try
        {
            cropPhaseOptimals = null;
            var updateCropPhaseOptimalResult = await _cropPhaseOptimalService.Update(new UpdateCropPhaseOptimalRequest()
                {
                    Id = cropPhaseOptimalToSave.Id,
                    CatalogId = cropPhaseOptimalToSave.CatalogId,
                    Name = cropPhaseOptimalToSave.Name,
                    Description = cropPhaseOptimalToSave.Description,
                    Value = cropPhaseOptimalToSave.Value,
                    Active = cropPhaseOptimalToSave.Active
                });
            if (updateCropPhaseOptimalResult != null)
            {
                alertUpdateMessage.Open();
                await GetCropPhaseOptimalsClick();
            }
            else
            {
                alertErrorMessage.Open();
            }
            editableId = 0;
        }
        catch (Exception ex)
        {
        }
    }

    #endregion
}